# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven
        server-id: snapshotnexus # Value of the distributionManagement/repository/id field of the pom.xml
        server-username: admin
        server-password: admin

        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Generate Maven settings.xml
      run: |
       mkdir -p ~/.m2
       cat > ~/.m2/settings.xml <<EOF
        <settings>
            <servers>
                <server>
                    <id>snapshotnexus</id>
                    <username>${{ secrets.NEXUS_USERNAME }}</username>
                    <password>${{ secrets.NEXUS_PASSWORD }}</password>
                </server>
            </servers>
        </settings>
        EOF

    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
